In [51]:
import pandas as pd


df = pd.DataFrame({'날짜': ['2021.01.10',
                            '2021.02.15',
                            '2021.03.20',
                            '2021.04.25',
                            '2021.05.27',
                            '2021.06.21',
                            '2021.07.01',
                            '2021.08.16']})

df['날짜'] = pd.to_datetime(df['날짜'], format='%Y-%m-%d', errors='raise')
df['날짜_year'] = df['날짜'].dt.year
df['날짜_quarter'] = df['날짜'].dt.quarter
df

          날짜  날짜_year  날짜_quarter
0 2021-01-10     2021           1
1 2021-02-15     2021           1
2 2021-03-20     2021           1
3 2021-04-25     2021           2
4 2021-05-27     2021           2
5 2021-06-21     2021           2
6 2021-07-01     2021           3
7 2021-08-16     2021           3