In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
# url = 'https://finance.naver.com/item/sise_day.nhn?code='
# com_code = '005930'
# res = requests.get(url+com_code)
# soup = BeautifulSoup(res.text, 'html.parser')

In [3]:
url = 'https://finance.naver.com/item/sise_day.nhn?code='
com_code = '005930'
headers = {'User-Agent' : 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.101 Safari/537.36'}
page = 'page='
web = requests.get(url+com_code+page, headers=headers).content
soup = BeautifulSoup(web, 'html.parser')

In [38]:
quote = soup.find_all('td', {'class':'num'})

In [49]:
quote[0].get_text()

'80,900'

In [57]:
quote_cp =[]
for i in range(len(quote)):
    if i%6==0:
        quote_cp+=quote[i]

In [58]:
quote_cp

[<span class="tah p11">80,900</span>,
 <span class="tah p11">81,800</span>,
 <span class="tah p11">80,900</span>,
 <span class="tah p11">80,500</span>,
 <span class="tah p11">81,000</span>,
 <span class="tah p11">81,000</span>,
 <span class="tah p11">81,100</span>,
 <span class="tah p11">81,900</span>,
 <span class="tah p11">81,900</span>,
 <span class="tah p11">82,200</span>]

In [59]:
price_list = []
for quote in quote_cp:
    price_list.append(quote.get_text())
print(price_list)

['80,900', '81,800', '80,900', '80,500', '81,000', '81,000', '81,100', '81,900', '81,900', '82,200']

In [105]:
# p1_data=soup.find_all('span', {'class':'tah p11'})